@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Open Sans','Helvetica Neue',sans-serif;
  size: 10px;
  line-height: 3.5em;
  font-weight: 300;
  background-color: darkblue;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 2em;
  }

  .header {
    background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
    background-position: center 1%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    
  }

  .quote {
    font-size: 1.1em;
    line-height: 30%;
    text-align:start;
  }

  h1 {
    font-size: 4em;
    text-align: center;
    Transform: uppercase;
    font-family: 'Roboto Condensed';
  }

  h2 {
    Size: 5em;
    text-align: center;
    Transform: uppercase;
    font-family: Condensed;
    color: white;
    text-shadow: #040507 8px -20px 9px;
  }

  h3 {
    Size: 4.2em;
    text-align: center;
    line-height: 1em;
    font-family: 'Roboto Condensed';
  }

  h4 {
    Size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
    font-family: 'Roboto Condensed';
  }

  h5 {
    Size: 1.2em;
    line-height: 1em;
    font-family: 'Roboto Condensed';
  }




